@{
    Layout = "_AdminLayout";
}
@model List<SettingsDto>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@SystemResources.SettingsList</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-sm align-middle text-center">
                <thead class="table-light">
                    <tr>
                        <th>@FormResources.Name</th>
                        <th style="width: 60px;">@SystemResources.Logo</th>
                        <th>@SystemResources.FacebookLink</th>
                        <th>@SystemResources.InstagramLink</th>
                        <th>@SystemResources.TwitterLink</th>
                        <th>@SystemResources.YoutubeLink</th>
                        <th>@SystemResources.Address</th>
                        <th>@SystemResources.ContactNumber</th>
                        <th>@SystemResources.Fax</th>
                        <th>@SystemResources.Email</th>
                        <th style="width: 100px;">@ActionsResources.Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td class="text-truncate">@obj.WebsiteName</td>
                            <td>
                                <img src="~/uploads/Images/@obj.Logo" width="50" height="50" class="rounded" />
                            </td>
                            <td class="text-truncate" style="max-width: 150px;">@obj.FacebookLink</td>
                            <td class="text-truncate" style="max-width: 150px;">@obj.InstagramLink</td>
                            <td class="text-truncate" style="max-width: 150px;">@obj.TwitterLink</td>
                            <td class="text-truncate" style="max-width: 150px;">@obj.YoutubeLink</td>
                            <td class="text-truncate" style="max-width: 150px;">@obj.Address</td>
                            <td>@obj.ContactNumber</td>
                            <td>@obj.Fax</td>
                            <td class="text-truncate" style="max-width: 150px;">@obj.Email</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Settings" asp-action="Edit" asp-area="Admin" asp-route-id="@obj.Id" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
