

<!-- about section -->
<section class="about-section py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <!-- Text Content -->
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="pe-lg-4">
                    <h2 class="display-5 fw-bold mb-4 ">@GeneralResources.AboutUs</h2>
                    <div class="border-start border-3 border-primary ps-3 mb-4">
                        <p class="lead mb-4">
                            @SystemResources.WeAreDedicatedToProvidingExceptionalServicesAndProductsToOurCustomers
                        </p>
                    </div>
                    @* <p class="mb-4">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomized words which don't look even slightly believable.
                    </p> *@
                    <p class="mb-4">
                        @SystemResources.OurTeamOfProfessionalsWorksTirelesslyToEnsureCustomerSatisfactionThroughInnovativeSolutionsAndQualityCraftsmanship
                    </p>
                    <div class="d-flex align-items-center mt-4">
                      
                        <div>
                            <h5 class="mb-1">@SystemResources.QualityAssurance</h5>
                            <p class="mb-0 text-muted">@SystemResources.OneHundredPercentQualityGuaranteedProducts</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="~/uploads/Images/AL-530BA3C6..jpg" class="img-fluid rounded shadow-lg" alt="About Us">
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section ends -->